/* sidebar.component.css */
/* .sidebar-header {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.sidebar-content {
  padding: 1rem;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 1rem;
}

.menu li a {
  text-decoration: none;
  color: #333;
}

.menu li a:hover {
  color: #007bff;
  text-decoration: underline;
} */
