<div class=grid>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card p-0 overflow-hidden flex flex-column">
        <div class="flex align-items-center p-3">
            <i class="pi pi-users text-6xl text-blue-500"></i>
            <div class="ml-3">
                <span class="text-blue-500 block white-space-nowrap">Administracion General</span>
                <span class="text-blue-500 block text-4xl font-bold"># Administracion</span>
            </div>
        </div>
        <!-- <img [src]="'assets/demo/images/dashboard/users' + (colorScheme === 'light' ? '' : '-dark') + '.svg'" class="w-full" alt="users"> -->
        <img routerLink="/employes" [src]="'https://upload.wikimedia.org/wikipedia/commons/a/a5/Wikimedia_in_Education_illustration_collaboration.svg'" class="w-full" alt="users" >
        <!-- width="100" height="200" -->
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card p-0 overflow-hidden flex flex-column">
        <div class="flex align-items-center p-3">
            <i class="pi pi-map text-6xl text-orange-500"></i>
            <div class="ml-3">
                <span class="text-orange-500 block white-space-nowrap">ADMINISTRACION DOCENTE</span>
                <span class="text-orange-500 block text-4xl font-bold"># Docentes</span>
            </div>
        </div>
        <img [src]="'https://img.freepik.com/premium-photo/business-team-cartoon-characters-meeting-talking-front-office-whiteboard-with-free-space-your-design-white-background-3d-rendering_476612-19522.jpg?w=1480'" class="w-full" alt="users" >
        <!-- width="100" height="200" -->
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card p-0 overflow-hidden flex flex-column">
        <div class="flex align-items-center p-3">
            <i class="pi pi-directions text-6xl text-green-500"></i>
            <div class="ml-3">
                <span class="text-green-500 block white-space-nowrap">ADMINISTRACION ESTUDIANTES</span>
                <span class="text-green-500 block text-4xl font-bold"># Estudiantes</span>
            </div>
        </div>
        <img hr [src]="'https://img.freepik.com/premium-vector/character-student-back-school-university-concept-vector-illustration_77417-3124.jpg?w=2000'" class="w-full" alt="users" >
        <!-- width="100" height="200" -->
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card h-full p-0 overflow-hidden flex flex-column">
        <div class="flex align-items-center p-3">
            <i class="pi pi-comments text-6xl text-purple-500"></i>
            <div class="ml-3">
                <span class="text-purple-500 block white-space-nowrap">historial academico de estudiantes</span>
                <span class="text-purple-500 block text-4xl font-bold">Historiales academicos</span>
            </div>
        </div>
        <img [src]="'https://img.freepik.com/free-psd/file-folder-illustration-isoltated_23-2151439694.jpg?t=st=1714238675~exp=1714242275~hmac=c669f6e30eb73d255397bdbd1eba67b9d54613fe3b018edefb6d356a097f8b30&w=2000'" class="w-full" alt="users" >
        <!-- width="100" height="200" -->
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card p-0 overflow-hidden flex flex-column">
      <div class="flex align-items-center p-3">
          <i class="pi pi-directions text-6xl text-green-500"></i>
          <div class="ml-3">
              <span class="text-green-500 block white-space-nowrap">administracion de pagos y planes de pago</span>
              <span class="text-green-500 block text-4xl font-bold">Pagos</span>
          </div>
      </div>
      <img [src]="'https://as1.ftcdn.net/v2/jpg/06/61/31/34/1000_F_661313471_D7LE91UmwyMRCbQjUzcBz9QxqsVogT53.jpg'" class="w-full" alt="users" >
      <!-- width="100" height="200" -->
    </div>
  </div>
</div>
