<p>estudents-register works!</p>
<p-sidebar [(visible)]="visible" [blockScroll]="true" [dismissible]="false">
  <div class="sidebar-header">
    <button pButton type="button" icon="pi pi-arrow-left" (click)="toggleSidebar()" class="p-button-text"></button>
  </div>
  <div class="sidebar-content">
    <!-- Contenido del menú -->
    <ul class="menu">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/services">Services</a></li>
      <!-- Agrega más elementos del menú según sea necesario -->
    </ul>
  </div>
</p-sidebar>
<form [formGroup]="fg">
<div class="grid p-fluid" >
  <div class="col-12 md:col-6">
    <div formGroupName="estudiante" class="card">
      <h5>Datos Personales del Estudiante</h5>
      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <!-- <input pInputText class="p-inputtext-sm" formControlName="est_doc" (ngModelChange)="changeDocEst($event)"/> -->
            <input pInputText class="p-inputtext-sm" formControlName="est_doc" />
            <label for="nombre">No Documento</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsTipodoc()" placeholder="Select extension Document" optionLabel="abreviatura" class="p-inputtext-sm" formControlName="est_tipodoc"></p-dropdown>
            <label for="float-label">Select Tipo doc</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsExtdocs()" placeholder="Select extensiob Document" optionLabel="abreviatura" class="p-inputtext-sm" formControlName="est_extdoc"></p-dropdown>
            <label for="float-label">Select Extension</label>
          </span>
        </div>
      </div>
      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="est_nombre"/>
            <label for="nombre">Nombres</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="est_app"/>
            <label for="app">Apellido Paterno</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="est_apm"/>
            <label for="apm">Apellido Materno</label>
          </span>
        </div>
      </div>
      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
          <span class="p-float-label">
            <p-calendar formControlName="est_fnaci"></p-calendar>
            <label for="fnaci">Fecha Naciminto</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
          <span class="p-float-label">Sexo</span>
          <div class="flex justify-content-center align-items-center mb-1">
            <div class="flex align-items-center">
              <p-radioButton id="est_sexo" name="est_sexo" value="Varon" formControlName="est_sexo"> </p-radioButton>
              <label for="masculino" class="ml-2">Varon</label>
            </div>
            <div class="flex align-items-center">
                <p-radioButton id="est_sexo" name="est_sexo" value="Mujer" formControlName="est_sexo"> </p-radioButton>
                <label for="femenino" class="ml-2">Mujer</label>
            </div>
          </div>
        </div>
        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="est_telcel"/>
            <label for="telcel">Telefono/Celular</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsStadoCivil" placeholder="Select state civil" optionLabel="name" class="p-inputtext-sm" formControlName="est_estadociv" ></p-dropdown>
            <label for="float-label">Select a Estado civil </label>
          </span>
        </div>
      </div>

      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="est_email">
            <label for="float-input" type="email">Email</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="est_dir">
            <label for="float-input">Direccion</label>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div formGroupName="tutor1" class="card">
      <h5>Datos Personales del Padre / 1er Tutor</h5>
      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <!-- <input pInputText class="p-inputtext-sm" formControlName="tut_doc" (ngModelChange)="changeDocTut($event)"/> -->
            <input pInputText class="p-inputtext-sm" formControlName="tut_doc" />
            <label for="nombre">No Documento</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsTipodoc()" placeholder="Select extension Document" optionLabel="abreviatura" class="p-inputtext-sm" formControlName="tut_tipodoc"></p-dropdown>
            <label for="float-label">Select Tipo doc</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsExtdocs()" placeholder="Select extensiob Document" optionLabel="abreviatura" class="p-inputtext-sm" formControlName="tut_extdoc"></p-dropdown>
            <label for="float-label">Select Extension</label>
          </span>
        </div>
      </div>
      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_nombre"/>
            <label for="nombre">Nombres</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_app"/>
            <label for="app">Apellido Paterno</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_apm"/>
            <label for="apm">Apellido Materno</label>
          </span>
        </div>
      </div>
      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
          <span class="p-float-label">
            <p-calendar formControlName="tut_fnaci"></p-calendar>
            <label for="fnaci">Fecha Naciminto</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
          <span class="p-float-label">Sexo</span>
          <div class="flex justify-content-center align-items-center mb-1">
            <div class="flex align-items-center">
              <p-radioButton id="tut_sexo" name="tut_sexo" value="Varon" formControlName="tut_sexo"> </p-radioButton>
              <label for="masculino" class="ml-2">Varon</label>
            </div>
            <div class="flex align-items-center">
                <p-radioButton id="tut_sexo" name="tut_sexo" value="Mujer" formControlName="tut_sexo"> </p-radioButton>
                <label for="femenino" class="ml-2">Mujer</label>
            </div>
          </div>
        </div>
        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_telcel"/>
            <label for="telcel">Telefono/Celular</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsStadoCivil" placeholder="Select state civil" optionLabel="name" class="p-inputtext-sm" formControlName="tut_estadociv" ></p-dropdown>
            <label for="float-label">Select a Estado civil </label>
          </span>
        </div>
      </div>

      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_email">
            <label for="float-input" type="email">Email</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_dir">
            <label for="float-input">Direccion</label>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div formGroupName="tutor2" class="card">
      <h5>Datos Personales de la Madre / 2do Tutor</h5>
      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_doc" />
            <label for="nombre">No Documento</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsTipodoc()" placeholder="Select extension Document" optionLabel="abreviatura" class="p-inputtext-sm" formControlName="tut_tipodoc"></p-dropdown>
            <label for="float-label">Select Tipo doc</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsExtdocs()" placeholder="Select extensiob Document" optionLabel="abreviatura" class="p-inputtext-sm" formControlName="tut_extdoc"></p-dropdown>
            <label for="float-label">Select Extension</label>
          </span>
        </div>
      </div>
      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_nombre"/>
            <label for="nombre">Nombres</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_app"/>
            <label for="app">Apellido Paterno</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_apm"/>
            <label for="apm">Apellido Materno</label>
          </span>
        </div>
      </div>
      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
          <span class="p-float-label">
            <p-calendar formControlName="tut_fnaci"></p-calendar>
            <label for="fnaci">Fecha Naciminto</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
          <span class="p-float-label">Sexo</span>
          <div class="flex justify-content-center align-items-center mb-1">
            <div class="flex align-items-center">
              <p-radioButton id="tut_sexo" name="tut_sexo" value="Varon" formControlName="tut_sexo"> </p-radioButton>
              <label for="masculino" class="ml-2">Varon</label>
            </div>
            <div class="flex align-items-center">
                <p-radioButton id="tut_sexo" name="tut_sexo" value="Mujer" formControlName="tut_sexo"> </p-radioButton>
                <label for="femenino" class="ml-2">Mujer</label>
            </div>
          </div>
        </div>
        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_telcel"/>
            <label for="telcel">Telefono/Celular</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsStadoCivil" placeholder="Select state civil" optionLabel="name" class="p-inputtext-sm" formControlName="tut_estadociv" ></p-dropdown>
            <label for="float-label">Select a Estado civil </label>
          </span>
        </div>
      </div>

      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_email">
            <label for="float-input" type="email">Email</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="tut_dir">
            <label for="float-input">Direccion</label>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-content-center align-items-center mb-1">
  <div><p-button [text]="true" severity="danger">Cancel</p-button></div>
  <div><p-button [text]="true" severity="info" (click)="clear()">Limpiar</p-button></div>
  <div>
    @if (fg.valid) {
      <!-- <p-button [text]="true" severity="primary" (click)="saveDataObservable()">Register</p-button> -->
      <!-- <p-button [text]="true" severity="primary" (click)="savePromise()">Register</p-button> -->
    } @else {
      <p-button [text]="true" severity="primary" [disabled]="true">Register</p-button>
    }
  </div>
</div>
</form>
