<!-- sidebar.component.html -->
<p-sidebar [(visible)]="visible" [blockScroll]="true" [dismissible]="false">
  <div class="sidebar-header">
    <button pButton type="button" icon="pi pi-arrow-left" (click)="toggleSidebar()" class="p-button-text"></button>
  </div>
  <div class="sidebar-content">
    <!-- Contenido del menú -->
    <ul class="menu">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/services">Services</a></li>
      <!-- Agrega más elementos del menú según sea necesario -->
    </ul>
  </div>
</p-sidebar>
<form [formGroup]="fg">
<div class="grid p-fluid">
  <div class="col-12 md:col-6">
    <div class="card">
      <h5>Datos de acceso</h5>
      <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="username" />
            <label for="username">Username</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="password" type="password"/>
            <label for="password">Password</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-multiSelect [options]="itemsTipoempleado()" optionLabel="descrip" formControlName="rol" class="p-inputtext-sm"   ></p-multiSelect>
            <label for="rol">Select Rol</label>
          </span>
        </div>
      </div>
      <h5>Datos del empleado</h5>
      <div class="grid formgrid pb-0">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsTipodoc()" placeholder="Select type Document" optionLabel="abreviatura" formControlName="tipodoc" class="p-inputtext-sm" ></p-dropdown>
            <label for="idtipo">Select Tipo de Empleado</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsCargo()" placeholder="Select type Document" optionLabel="name" formControlName="idcargo" class="p-inputtext-sm" ></p-dropdown>
            <label for="float-label">Select a cargo</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" formControlName="username" />
            <label for="salariox`">Salario</label>
          </span>
        </div>
      </div>
      <!-- <h5>Float Label</h5>
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="username">Username</label>
      </span> -->
    </div>
  </div>
  <div class="col-12 md:col-6">
    <div class="card">
      <h5>Datos Personales</h5>
      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsTipodoc()" placeholder="Select type Document" optionLabel="abreviatura" class="p-inputtext-sm" ></p-dropdown>
            <label for="idtipo">Select Tipo doc</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" />
            <label for="nombre">No Documento</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="itemsExtdocs" placeholder="Select type Document" optionLabel="name" class="p-inputtext-sm" ></p-dropdown>
            <label for="idtipo">Select Extension</label>
          </span>
        </div>
      </div>
      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm" />
            <label for="nombre">Nombres</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm"/>
            <label for="app">Apellido Paterno</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <input pInputText class="p-inputtext-sm"/>
            <label for="apm">Apellido Materno</label>
          </span>
        </div>
      </div>
      <div class="grid formgrid pb-5">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-calendar inputId="birth_date"></p-calendar>
            <label for="fnaci">Fecha Naciminto</label>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">Sexo</span>
          <div class="flex align-items-center">
            <!-- <p-radioButton id="sexo" name="sexo" value="Varon"> </p-radioButton> -->
            <label for="masculino" class="ml-2">Varon</label>
          <!-- </div>
          <div class="flex align-items-center"> -->
              <!-- <p-radioButton id="sexo" name="sexo" value="Mujer"> </p-radioButton> -->
              <label for="femenino" class="ml-2">Mujer</label>
          </div>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-float-label">
            <p-dropdown [options]="cities" placeholder="Select type Document" optionLabel="name" class="p-inputtext-sm" ></p-dropdown>
            <label for="float-label">Select a Estado civil </label>
          </span>
        </div>
      </div>
      <!-- <h5>Icons</h5>
      <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input type="text" pInputText placeholder="Username"/>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-input-icon-right">
            <input type="text" pInputText placeholder="Search"/>
            <i class="pi pi-search"></i>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-input-icon-left p-input-icon-right">
            <i class="pi pi-user"></i>
            <input type="text" pInputText placeholder="Search"/>
            <i class="pi pi-search"></i>
          </span>
        </div>
      </div> -->
      <!-- <h5>Float Label</h5> -->
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Direccion</label>
      </span>
    </div>
  </div>
</div>
</form>
