<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <img src="https://johajuli.files.wordpress.com/2016/05/defineroles.jpg?w=640" style="width: 25%;" alt="Imagen">
  <div class="mb-2">
    <h4>Con qué rol desea ingresar</h4>
    <span class="p-float-label pb-2">
      <p-dropdown [options]="itemsTipoempleado()" optionLabel="nombre" styleClass="w-full"></p-dropdown>
      <label for="idcargo">Select Rol</label>
    </span>
    <p-button label="Acceder" [raised]="true" styleClass="w-full" (onClick)="goDashboard()"></p-button>
  </div>
</div>
